.jumbotron {
  padding-top: 5rem;
  background-color: #e1afd1;
}

#project {
  background-color: #e1afd1;
}

section {
  padding-top: 5rem;
}

.footerbla {
  background-color: #e1afd1;
}
